@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,700;1,100 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;800 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-personalizado {
  display: flex;
  justify-content: space-between;
  background-color: rgb(185, 0, 0);
}
.bg-personalizado .nav-item {
  list-style-type: none;
  padding: 20px;
  transition: 0.8;
}
.bg-personalizado .nav-item .nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: transparent;
  transition: 0.5s;
  text-align: center;
  padding: 5px;
}
.bg-personalizado .nav-item .nav-link:hover {
  color: white;
  background-color: rgb(44, 43, 43);
  border-radius: 5px;
  transform: scale(1.1, 1.1);
}

.navbar-toggler {
  width: 46px;
  height: 35px;
}
.navbar-toggler .navbar-toggler-icon {
  width: 20px;
  height: 20px;
  object-position: center;
}

.escudo-navbar {
  width: 200px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

footer {
  background-color: rgb(44, 43, 43);
  padding-bottom: 30px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
}
footer .footer .redes-sociales {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
}
footer .footer .redes-sociales .red {
  border: transparent;
  border-radius: 5px;
  transition: 1s;
}
footer .footer .redes-sociales .red:hover {
  background-color: rgba(170, 170, 170, 0.603);
}

main {
  background-image: url(../assets/monumental.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 20px;
}

.titulo {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: white;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
}

.carousel-item {
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  padding-top: 30px;
}

.monumental {
  object-fit: cover;
  z-index: 1;
  position: center;
  background-position: center;
}

.texto-index {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.accesos {
  background-color: rgb(185, 0, 0);
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  margin-top: 30px;
}

.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  transition: 1s;
}
.ubicacion .mapa-estadio {
  width: 100%;
  padding: 30px;
}

.entrada-estadio {
  color: white;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}

.logos-sponsors {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
}
.logos-sponsors .sponsor {
  border: transparent;
  border-radius: 5px;
  transition: 0.8s;
}
.logos-sponsors .sponsor:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(170, 170, 170, 0.603);
}

.noticias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.noticias .partido-contra-independiente {
  display: flex;
  padding-top: 10px;
}
.noticias .partido-contra-independiente .dos-textos-independiente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  padding-left: 5px;
}
.noticias .tucuman {
  display: flex;
  flex-direction: row-reverse;
}
.noticias .tucuman {
  padding: 15px;
}
.noticias .tucuman .dos-textos-tucuman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  padding-right: 5px;
}

.foto-noticia {
  object-fit: cover;
  border-radius: 5px;
}

.texto-noticia {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}

.titulo-noticia {
  color: rgb(185, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  font-size: xx-large;
}

.historia {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "p1 p2 p3 p4" "s1 s2 s3 s4";
  gap: 10px;
  padding: 30px;
}
.historia .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgba(139, 139, 139, 0.658);
  border-radius: 5px;
  padding: 10px;
}
.historia .fundacion {
  grid-area: p1;
}
.historia .primer-estadio {
  grid-area: p2;
}
.historia .la-maquina {
  grid-area: p3;
}
.historia .primer-monumental {
  grid-area: p4;
}
.historia .primera-libertadores {
  grid-area: s1;
}
.historia .segunda-libertadores {
  grid-area: s2;
}
.historia .descenso {
  grid-area: s3;
}
.historia .gallardo {
  grid-area: s4;
}

.imagen-historia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.texto-historia {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}

.presentacion-demichelis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  padding-top: 15px;
}
.presentacion-demichelis .imagen-demichelis {
  border-radius: 5px;
  border: solid rgb(168, 168, 168);
}

.texto-demichelis-presentacion {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  text-align: center;
}

.texto-final-madrid {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: justify;
  font-weight: 700;
  padding-top: 10px;
  width: 94%;
}

.final-madrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.final-madrid .video-madrid {
  padding-top: 50px;
}

#todos-logros {
  overflow: hidden;
}
#todos-logros .logros {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
#todos-logros:nth-child(odd) {
  flex-direction: row-reverse;
}

.titulo-logros {
  color: rgb(185, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  align-self: center;
}

.imagen-logros {
  width: 500px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.texto-logros {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: justify;
  font-weight: bold;
  width: 1000px;
}

.dos-textos-logros {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ultimo-texto-logros {
  color: rgb(185, 0, 0);
  width: 95%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 15px;
}

.partidos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  height: 500px;
}
.partidos .partido {
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.partidos .partido:hover {
  transform: scale(1.1, 1.1);
}

.datos-partido {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  align-self: center;
  width: 300px;
}

.mas-partidos {
  color: white;
  text-decoration: underline;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: small;
}

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  background-image: url(../assets/fondo.formulario.jpg);
  background-repeat: no-repeat;
  object-position: center;
  background-position: center;
  border-radius: 5px;
  height: 700px;
}
.contacto .formulario {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.contacto .formulario .campo {
  padding: 8px;
}
.contacto .formulario #boton {
  display: flex;
  align-self: center;
  justify-content: center;
}
.contacto .formulario #boton .boton {
  background-color: rgb(44, 43, 43);
  color: white;
  font-weight: 500;
}

.ultimo-texto-contacto {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  text-align: center;
  padding: 50px;
}

@media (max-width: 480px) {
  .container-fluid .escudo-river-arriba {
    width: 200px;
    object-fit: contain;
    padding: 0;
  }
  .river-blanco {
    width: 100px;
    height: 50px;
    object-fit: contain;
    padding: 0;
  }
  .red {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  .r2 {
    width: 15px;
    height: 15px;
  }
  .titulo {
    font-size: medium;
    padding-top: 0px;
  }
  .carousel-item img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .carousel-item {
    padding-top: 10px;
  }
  .texto-index {
    font-size: 8px;
    padding-bottom: 0px;
  }
  .accesos {
    padding: 9px;
    width: 100%;
    font-size: 9px;
    text-align: center;
    border-radius: 20px;
  }
  .ubicacion {
    flex-direction: column;
  }
  .mapa-estadio {
    width: 100%;
    padding: 15px 15px;
    height: 300px;
  }
  .entrada-estadio {
    font-size: x-small;
    text-align: center;
  }
  .sponsor {
    height: 70px;
    width: 90px;
    object-fit: contain;
  }
  .titulo-noticia {
    font-size: medium;
    font-weight: 800;
    text-align: center;
  }
  .noticias {
    justify-content: center;
    align-items: center;
  }
  .texto-noticia {
    font-size: x-small;
    width: 200px;
  }
  .dos-textos-independiente {
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .foto-noticia {
    object-fit: cover;
    object-position: center;
    width: 150px;
  }
  .foto-ind {
    object-position: left;
  }
}
@media (max-width: 480px) {
  .historia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
  }
  .texto-historia {
    font-size: 12px;
  }
  .box {
    padding: 5px;
  }
  .imagen-historia {
    width: 280px;
    height: 190px;
    object-fit: cover;
    object-position: center;
  }
  .imagen-demichelis {
    width: 100%;
    object-fit: contain;
    object-position: right;
  }
  .texto-demichelis-presentacion {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .video-madrid {
    height: 300px;
    width: 100%;
    padding-top: 20px;
  }
  .texto-final-madrid {
    font-size: x-small;
    width: 100%;
  }
  .logros {
    width: 100%;
    padding: 5px;
  }
  .imagen-logros {
    width: 150px;
    height: 120px;
    object-fit: cover;
    object-position: center;
  }
  .titulo-logros {
    font-size: small;
    font-weight: 700;
    text-align: center;
  }
  .texto-logros {
    font-size: 8px;
    width: 200px;
  }
  .ultimo-texto-logros {
    font-size: 16px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .escudos {
    width: 170px;
  }
  .datos-partido {
    font-size: 8px;
    width: 100px;
  }
  .partidos {
    height: auto;
    padding: 20px 20px;
    gap: 30px;
  }
  .mas-partidos {
    font-size: 9px;
    padding-bottom: 33px;
    padding-top: 33px;
    }
  .ultimo-texto-contacto {
    font-size: 10px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
