
.contacto{
    @include display-flex (row, center, center, nowrap, 0);
    background-image: url(../assets/fondo.formulario.jpg);
    background-repeat: no-repeat;
    object-position: center;
    background-position: center;
    border-radius: 5px;
    height: 700px;
    .formulario{
        border-radius: 5px;
        @include display-flex (column, center, center, nowrap, 0);
        .campo{
            padding: 8px;
        }
        #boton{
            display: flex;
            align-self: center;
            justify-content: center;
            .boton{
                background-color: $secondary-color;
                color: white;
                font-weight: 500;
            }
        }
    }
}
.ultimo-texto-contacto{
    color: white;
    font-family: $secondary-font;
    font-size: medium;
    text-align: center;
    padding: 50px;
    width: 100%;
}