.formulario{
    border-radius: 5px;
    @include display-flex (column, center, center, nowrap, 0);
}
.contacto{
    @include display-flex (row, center, center, nowrap, 0);
    background-image: url(../assets/fondo.formulario.jpg);
    background-repeat: no-repeat;
    object-position: center;
    background-position: center;
    height: 700px;
}
.campo{
    padding: 8px;
}
.boton{
    background-color: $main-color;
    color: white;
}
#boton{
    display: flex;
    align-self: center;
    justify-content: center;
}
.ultimo-texto-contacto{
    color: white;
    font-family: $secondary-font;
    font-size: medium;
    text-align: center;
    padding: 50px;
}