.historia{
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'p1 p2 p3 p4'
    's1 s2 s3 s4'
    ;
    gap: 10px;
    padding: 30px;
    .box{
        @include display-flex (column, flex-start, center, nowrap, 0);
        background-color: rgba(139, 139, 139, 0.658);
        border-radius: 5px;
        padding: 10px;
    }
    .fundacion{
        grid-area: p1;
    }
    .primer-estadio{
        grid-area: p2;
    }
    .la-maquina{
        grid-area: p3;  
    }
    .primer-monumental{
        grid-area: p4;
    }
    .primera-libertadores{
        grid-area: s1;
    }
    .segunda-libertadores{
        grid-area: s2;
    }
    .descenso{
        grid-area: s3;  
    }
    .gallardo{
        grid-area: s4;
    }
}
.imagen-historia{
    @include display-flex (row, center, center, wrap, 0);
    @include img (100%, 300px, cover, center);
}
.texto-historia{
    color: $light-color;
    font-family: $secondary-font;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}
.presentacion-demichelis{
    @include display-flex (column, center, center, nowrap, 0);
    padding-top: 15px;
    .imagen-demichelis{
        border-radius: 5px;
        border: solid rgb(168, 168, 168);
    } 
}
.texto-demichelis-presentacion{
    color: $light-color;
    font-family: $secondary-font;
    font-size:x-large;
    text-align: center;
}
