.texto-final-madrid{
    color: $light-color;
    font-family: $main-font;
    font-size:medium;
    text-align: justify; 
    font-weight: 700;
    padding-top: 10px;
    width: 94%;
}
.final-madrid{
    @include display-flex (column, center, center, nowrap, 0);
    .video-madrid{
        padding-top: 50px;
    }
}

#todos-logros{
    overflow: hidden;
    .logros{
        padding: 30px;
        @include display-flex (row, center, center, nowrap, 0);
        width: 100%;}
    &:nth-child(odd){
        flex-direction: row-reverse;
    }
}

.titulo-logros{
    color: $main-color;
    font-family: $secondary-font;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-self: center;
}
.imagen-logros{
    @include img (500px, 300px, cover, center);
    border-radius: 5px;
}
.texto-logros{
    color: $light-color;
    font-family: $main-font;
    font-size:medium;
    text-align: justify; 
    font-weight: bold;
    width: 1000px;
}
.dos-textos-logros{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.ultimo-texto-logros{
    color: $main-color;
    width: 95%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: $secondary-font;
    text-align: center;
    padding: 15px;
}