@media (max-width:480px){

    .container-fluid .escudo-river-arriba{
        width: 200px;
        object-fit: contain;
        padding: 0;
    }
    .river-blanco{
        width: 100px;
        height: 50px;
        object-fit: contain;
        padding: 0;
    }
    .red{
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    .r2{
        width: 15px;
        height: 15px;
    }
    .titulo{
        font-size:medium;
        padding-top: 0px;
    }
    .carousel-item img{
            height: 200px;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
    }
    .carousel-item{
        padding-top: 10px;
    }
    .texto-index{
        font-size: 8px;
        padding-bottom: 0px;
    }
    .accesos{
        padding: 9px;
        width: 100%;
        font-size: 9px;
        text-align: center;
        border-radius: 20px;
    }
    .ubicacion{
        flex-direction: column;
    }
    .mapa-estadio{
        width: 100%;
        padding: 15px 15px;
        height: 300px;
    }
    .entrada-estadio{
        font-size:x-small;
        text-align: center;
    }
    .sponsor{
        height: 70px;
        width: 90px;
        object-fit: contain;
    }
    .titulo-noticia{
        font-size: medium;
        font-weight: 800;
        text-align: center;
    }
    .noticias{
        justify-content: center;
        align-items: center;
    }
    .texto-noticia{
        font-size: x-small;
        width: 200px;
    }
    .dos-textos-independiente{
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .foto-noticia{
        object-fit: cover;
        object-position: center;
        width: 150px;
    }
    .foto-ind{
        object-position: left;
    }

}



@media (max-width:480px){
    .historia{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
    }
    .texto-historia{
        font-size: 12px;
    }
    .box{
        padding: 5px;
    }
    .imagen-historia{
        @include img (280px, 190px, cover, center);
    }
    .imagen-demichelis{
        width: 100%;
        object-fit: contain;
        object-position: right;
    }
    .texto-demichelis-presentacion{
        font-size: 10px;
    }
}
@media (max-width:480px){
    .video-madrid{
        height: 300px;
        width: 100%;
        padding-top: 20px;
    }
    .texto-final-madrid{
        font-size:x-small;
        width: 100%;
    }
    .logros{
        width: 100%;
        padding: 5px;
    }
    .imagen-logros{
        @include img (150px, 120px, cover, center);
    }
    .titulo-logros{
        font-size:  small;
        font-weight: 700;
        text-align: center;
    }
    .texto-logros{
        font-size: 8px;
        width: 200px;
    }
    .ultimo-texto-logros{
        font-size: 16px;
        width: 100%;
    }
}
@media (max-width:480px){
    .escudos{
        width: 170px;
    }
    .datos-partido{
        font-size: 8px;
        width: 100px;
    }
    .partidos{
        height: auto;
        padding: 20px 20px;
        gap: 30px;
    }
    .mas-partidos{
        font-size: 9px;
        padding-bottom: 20px;
    }
    .ultimo-texto-contacto{
        font-size: 10px;
        width: 100%;
    }
}