.partidos{
    @include display-flex (row, space-evenly, center, nowrap, 0);
    height: 500px;
    .partido{
        display: flex;
        flex-direction: column;
        transition: 1s;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }
}
.datos-partido{
    color: $light-color;
    font-family: $secondary-font;
    font-size: medium;
    text-align: center;
    @include display-flex (row, center, center, nowrap, 0);
    align-self: center;
    width: 300px;
}
.mas-partidos{
    color: $light-color;
    text-decoration: underline;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: $secondary-font;
    font-size: small;
}