
.bg-personalizado{
    display: flex;
    justify-content: space-between;
    background-color: $main-color;
    .nav-item{
        list-style-type: none;
        padding: 20px;
        transition: 0.8;
        .nav-link{
            color: $light-color;
            font-family:'Roboto', sans-serif;
            font-weight: bold;
            border: transparent;
            transition: 0.5s;
            text-align: center;
            padding: 5px;
            &:hover{
                color: $light-color;
                background-color: $secondary-color;
                border-radius: 5px;
                transform: scale(1.1,1.1);
            }
        }
    }
}



.navbar-toggler{
    width: 46px;
    height: 35px;
    .navbar-toggler-icon{
        width: 20px;
        height: 20px;
        object-position: center;
    }
}

.escudo-navbar{
    width: 200px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}